<ion-modal-view class="irk-modal">

<irk-ordered-tasks>

  <irk-task>
   <!--  <irk-instruction-step id="s1" title="Olá"  text=""/> -->
      <irk-visual-consent-step id="c9" type="custom" title="Olá" text="" summary="Está pronto para responder nossa pesquisa?" image="irk-consent-05">
     
    </irk-visual-consent-step>
  </irk-task>
   <irk-task>
    <irk-form-step optional="false" id="q14" title="Cadastro" text="Para começar preencha os campos abaixo" >
      <irk-form-item type="text" id="firstName" text="Nome" placeholder="Nome Completo"></irk-form-item>
      <irk-form-item type="text" id="endereco" text="Endereço" placeholder="Logradouro/Bairro"></irk-form-item>
      <irk-form-item title="Informações de contato"></irk-form-item>
      <irk-form-item type="email" id="email" text="Email" placeholder="seunome@provedor.com"></irk-form-item>
      <irk-form-item type="tel" id="phone" text="Telefone" placeholder="99-9999-9999"></irk-form-item>
      <irk-form-item type="tel" id="whatsapp" text="WhatsApp" placeholder="99-9999-9999"></irk-form-item>
    </irk-form-step>
  </irk-task>
  <irk-task>
    <irk-scale-question-step id="q1" title="Quantas pessoas em casa?" text="" min="1" max="7" step="1" value="1" optional="false" />
  </irk-task>

  <irk-task>
    <irk-scale-question-step id="q2" title="Quantas almoçam todo dia?" text="" min="1" max="7" step="1" value="1"/>
  </irk-task>

 <irk-task>
    <irk-scale-question-step id="q3" title="Além das que almoçam todos dia em casa quantas almoçam pelo manos duas vezes por semana?" text="" min="1" max="7" step="1" value="1"/>
  </irk-task>

<!--   <irk-task>
    <irk-boolean-question-step id="q3" title="A boolean question." text="True or False?" true-value="yes" false-value="no" true-text="Yes" false-text="No"/>
  </irk-task> -->

<irk-task>
    <irk-text-choice-question-step id="q4" title="Durante uma semana qual é a quantidade de consumo de carne de peixe?" text="Selecione apenas uma opção" style="single">
      <irk-text-choice text="Até 500g" value="1"></irk-text-choice>
      <irk-text-choice text="Até 1Kg" value="2"></irk-text-choice>
      <irk-text-choice text="Acima de 1Kg" value="3"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

  <irk-task>
    <irk-text-question-step id="q5" title="Do consumo de carne de peixe quais as espécies de peixe que vc consome durante a semana em casa?" text="Apenas peixes de água salgada" placeholder="Peixes de água salgada..." />
  </irk-task>

   <irk-task>
    <irk-text-question-step id="q6" title="5. Do consumo de carne de peixe quais as espécies de peixe que vc consome durante a semana em casa?" text="Apenas peixes de água doce" placeholder="Peixes de água doce..." />
  </irk-task>

  <irk-task>
    <irk-text-choice-question-step id="q7" title="Você compra peixes de agua salgada aonde?" text="Marque quantas opções desejar" style="multiple">
      <irk-text-choice text="Peixarias" value="1"></irk-text-choice>
      <irk-text-choice text="Supermercados" value="2"></irk-text-choice>
      <irk-text-choice text="Outros" value="3"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>
   <irk-task>
   <irk-text-choice-question-step id="q8" title="Você compra peixes de agua doce aonde?" text="Marque quantas opções desejar" style="multiple">
      <irk-text-choice text="Peixarias" value="1"></irk-text-choice>
      <irk-text-choice text="Supermercados" value="2"></irk-text-choice>
      <irk-text-choice text="Outros" value="3"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>
 <irk-task>
    <irk-text-choice-question-step id="q9" title="O que interfere mais para o consumo de Peixes de agua doce não maior durante a semana nas refeições em sua casa." text=" Assinalar no máximo duas opções" style="multiple">
      <irk-text-choice text="O sabor não agrada" value="1"></irk-text-choice>
      <irk-text-choice text="O preço é alto" value="2"></irk-text-choice>
      <irk-text-choice text="Dificuldade de achar" value="3"></irk-text-choice>
      <irk-text-choice text="Pouca variedade" value="4"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

<irk-task>
    <irk-text-choice-question-step id="q10" title="A praticidade e facilidade para aquisição de produtos é uma tendência do consumidor mundial e também no Brasil? Se vc concorda com esta afirmação você se interessaria em " text="Selecione apenas uma opção" style="single">
      <irk-text-choice text="Receber semanalmente cortes de peixes congelados em sua casa" value="1"></irk-text-choice>
      <irk-text-choice text="Receber mensalmente cortes de peixes congelados em sua casa" value="2"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

<irk-task>
    <irk-text-choice-question-step id="q11" title="Para receber estes cortes congelados em sua casa com embalagens inteligentes, de fácil abertura e com dispositivo de fechamento após uso parcial dos cortes você concordaria de" text="Selecione apenas uma opção" style="single">
      <irk-text-choice text="Pagar valor do que você apenas solicitar" value="1"></irk-text-choice>
      <irk-text-choice text="pagar uma valor mensal e sempre receber semanalmente ou mensalmente quantidade planejada com receitas para você prepara pratos variados durante a semana ou no mês" value="2"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

  <irk-task>
    <irk-text-choice-question-step id="q12" title="Você sabe a diferença sanitária de um peixe congelado e peixe fresco. O que tem mais segurança sanitária e pra saúde?" text="" style="single">
      <irk-text-choice text="Peixe congelado" value="1"></irk-text-choice>
      <irk-text-choice text="Peixe fresco conservado no gelo" value="2"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

    <irk-task>
    <irk-text-choice-question-step id="q13" title="Você gostaria de receber mais informações sobre peixes da Amazônia?" text="" style="single">
      <irk-text-choice text="Sim" value="1"></irk-text-choice>
      <irk-text-choice text="Não" value="2"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>
  <irk-task>
    <irk-text-choice-question-step id="q14" title="Estamos montando um clube do peixe com cortes do Peixes da Amazônia. Você gostaria de receber mais informações deste clube?" text="" style="single">
      <irk-text-choice text="Sim" value="1"></irk-text-choice>
      <irk-text-choice text="Não" value="2"></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task>

<!--   <irk-task>
    <irk-text-question-step id="q6" title="A text question." text="This is for a single line." multiple-lines="false" placeholder="Your placeholder." />
  </irk-task>
 -->

 <!--  <irk-task>
    <irk-text-choice-question-step id="q7" title="A multiple choice question." text="Select all that apply." style="multiple">
      <irk-text-choice text="Choice 1" value="1"></irk-text-choice>
      <irk-text-choice text="Choice 2" value="2"></irk-text-choice>
      <irk-text-choice text="Choice 3" value="3" detail-text="Additional text can go here."></irk-text-choice>
    </irk-text-choice-question-step>
  </irk-task> -->

 

  <irk-task>
   
      <irk-visual-consent-step id="c9" type="custom" title="Pronto!"  button-text="Concluir" text="" summary="Obrigado por responder nossa pesquisa." image="irk-consent-06">
   
    </irk-visual-consent-step>
  </irk-task>

</irk-ordered-tasks>

</ion-modal-view>
